/* VEDA
:root {
    --color-primary: #343d46;
    --color-primary-hover: #4f5b66; 
    --color-secondary: #4f5b66;
    --color-tertiary: #65737e;
    --color-quaternary: #a7adba;
    --color-quinary: #c0c5ce;
    --color-primary-hover-transparent: rgba(79, 91, 102, 0.064);

} */

:root {
    --color-primary: #572574;
    --color-primary-hover: #824ba1; 
    --color-secondary: #A11A5C;
    --color-tertiary: #AA182C;
    --color-quaternary: #D1B786;
    --color-quinary: #ff8300;
    --color-sixtinary: #65737e;
    --color-primary-hover-transparent: rgba(79, 91, 102, 0.064);

}