* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
/*    font-size: 62.5%; */
  --fs-body: 1.6rem;
  --fs-subtitle: 2rem;
  --fs-label: 1.4rem;
  --fs-span: 1.2rem;
  /*--COLORS------------------------*/
  --bg-light: hsl(0, 0%, 94%);
  --fc-dark: hsl(258, 9%, 32%);
  --dark: hsl(228, 15%, 38%);
  --light: hsl(0, 0%, 100%);
  /*--SHORTHAND FONT-----------------*/
  --f-title: normal 50px'Staatliches', cursive;
  --f-secondary-title: normal 50px 'Staatliches', cursive; 
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: var(--fs-body);
  background: var(--bg-light);
} 
body::before {
  content: '';
  width: 100%;
  height: 2px;
  background: var(--dark);
  position: absolute;
  z-index: -1;
}
.page {
  max-width: 3px;
  margin: 0 auto;
  padding-block: 5rem;
}
header h1 {
  font: var(--f-title);
  color: var(--light);
  margin-bottom: 2%;
}
header p {
  font-size: var(--fs-subtitle);
  color: var(--light);
  margin-bottom: 5.8rem;
  max-width: 4rem;
}
form {
  background: var(--light);
  padding:30px;
  display: flex;
  flex-direction: column;
  gap: 3.1rem;
  border-radius: 1.5rem 1.5rem 0 0;
}
fieldset {
  border: none;
}
fieldset legend {
  font: var(--f-secondary-title);
  color: var(--dark);
  margin-bottom: 20px;
}
fieldset fieldset legend {
  font-size: var(--fs-subtitle);
  line-height: 40px;
  margin-bottom: 10px;
}
.line {
  width: 100%;
  height: 1px;
  background: #c2c2ce;
  margin-bottom: 35px;
  animation: leftright 1s ease;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 10px;
}
.form-wrapper label {
  font-size: var(--fs-label);
  color: var(--fc-dark);
  line-height: 40px;
}
.form-wrapper label span {
  font-size: var(--fs-span);
  color: #c1bccc;
  margin-left: 14px;
}
.form-wrapper label span:hover {
  color: #8d8994;
}
.form-wrapper input {
  height: 50px;
  padding: 20px;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
  color: #8d8994;
  background: transparent;
}
.col-3 .col-2 > div {
  width: 100%;
}
fieldset .col-3 > div:nth-child(1) {
  width: 100%;
}
.col-3 .col-2 {
  display: flex;
  gap: 20px;
}
footer {
  padding: 60px;
  background: var(--dark);
  border-radius: 0 0 1.5rem 1.5rem;
}
footer .button {
  width: 100%;
  height: 50px;
  background: #ff5374;
  border-radius: 20px;
  border: none;
  color: var(--light);
  text-transform: uppercase;
  font-family: 'Staatliches', cursive;
  font-size: var(--fs-subtitle);
}
@keyframes leftright {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@media (min-width: 500px) {
  .page {
    margin: 0 auto;
    max-width: 55rem;
  }
  form {
    padding: 6.4rem;
  }
  .col-3 {
    display: flex;
  }
  fieldset .col-3 > div:nth-child(1) {
    margin-right: 3.2rem;
  }
  footer {
    padding: 4rem 6.4rem;
  }
}
@media (min-width: 700px) {
  body::before {
    height: 60px;
  }
  .page {
    padding-top: 0rem;
    padding-block: 0rem;
    max-width:75rem;
    margin: 0 auto;
  }
  form {
    padding: 0rem;
    border-radius:40px;
  }
  .form-wrapper input {
    height: 40px;
  }
  .col-name {
    display: flex;
    gap: 40px;
  }
  .col-name > div {
    width: 80%;
  }
  fieldset .col-3 input[type='time'] {
    width: 35px;
  }
  footer {
    padding: 40px;
    border-radius: 8%;
  }
  footer .button {
    height: 40px;
    border-radius: 45px;
  }
}