
body {
    font-size: 16px;
    background: #ffffff; /* Reemplaza $white con su valor hexadecimal */
    font-family: "Roboto";
    color: #000000;
    margin-right: 10px;
}



a {
    color: #ee0303; /* Reemplaza $primario con su valor hexadecimal */
}

.wrap {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.info p {
    margin-top: 20px;
}

.formulario h2 {
    font-size: 20px;
    color: #333333; /* Reemplaza $titular con su valor hexadecimal */
    margin-bottom: 20px;
    margin-left: 20px;
}

.formulario > div {
    padding: 20px 0;
    border-bottom: 1px solid #181717;
}

.formulario label {
    display: inline-block;
    cursor: pointer;
    color: #ff0000; /* Reemplaza $primario con su valor hexadecimal */
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.formulario label:hover {
    background: rgba(0, 123, 255, .1); /* Reemplaza $primario con su valor hexadecimal */
}

.formulario label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 15px;
    border-radius: 50%;
    background: none;
    border: 3px solid #ff0000; /* Reemplaza $primario con su valor hexadecimal */
}

/* --------------------------------------- */
/* ----- Radio Button */
/* --------------------------------------- */
input[type="radio"] {
    display: none;
    color: #000000;
    margin-right: 10px;
}

input[type="radio"]:checked + label:before {
    display: none;
    margin-right: 10px;
}

input[type="radio"]:checked + label {
    padding: 5px 15px;
    background: #ff0000; /* Reemplaza $primario con su valor hexadecimal */
    border-radius: 2px;
    color: #ffffff;
    margin-right: 10px;
}


/*todo 1*/
.route
{
a {
    color: #001aff; /* Reemplaza $primario con su valor hexadecimal */
}

.wrap {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.info p {
    margin-top: 20px;
}

.formulario h2 {
    font-size: 20px;
    color: #333333; /* Reemplaza $titular con su valor hexadecimal */
    margin-bottom: 20px;
    margin-left: 20px;
}

.formulario > div {
    padding: 20px 0;
    border-bottom: 1px solid #181717;
}

.formulario label {
    display: inline-block;
    cursor: pointer;
    color: #001aff; /* Reemplaza $primario con su valor hexadecimal */
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.formulario label:hover {
    background: rgba(0, 123, 255, .1); /* Reemplaza $primario con su valor hexadecimal */
}

.formulario label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 15px;
    border-radius: 50%;
    background: none;
    border: 3px solid #001aff; /* Reemplaza $primario con su valor hexadecimal */
}

/* --------------------------------------- */
/* ----- Radio Button */
/* --------------------------------------- */
input[type="radio"] {
    display: none;
    color: #001aff;
    margin-right: 10px;
}

input[type="radio"]:checked + label:before {
    display: none;
    margin-right: 10px;
}

input[type="radio"]:checked + label {
    padding: 5px 15px;
    background: #001aff; /* Reemplaza $primario con su valor hexadecimal */
    border-radius: 2px;
    color: #ffffff;
    margin-right: 10px;
}
}

